ul li {
  list-style-type: none;
}

.navbar {
  display: flex;
}
 
a {
  text-decoration: none;
  color: black;
  border: 1px solid gray;
  background: gray;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
}

.left {
  width: 100%;
}

.right {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 30px;
}

.right li {
  margin-right: 15px;
}

h1 {
  width: 100%;
  margin: 45px;
}
